body {
    background-image: url(Assets/elegant-white-background-with-glowing-lines-wallpaper_704097-27.png);
    font-family: 'Open Sans', sans-serif;
  }

header {
    background-color: #8b0000;
}

.card {
    transition: transform 0.3s;
    margin: 20px;
}

.card:hover {
    transform: scale(1.13);
}

/* #pills-home, #pills-contact, #pills-profile {
    width: 500px;
} */

.card-title {
    font-weight: bold;
}
